<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ==== Document Title ==== -->
    <title>SociFly - Multipurpose Social Network HTML5 Template</title>

    <!-- ==== Document Meta ==== -->
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- ==== Favicon ==== -->
    <link rel="icon" href="favicon.png" type="image/png">

    <!-- ==== Google Font ==== -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700%7CRoboto:300,400,400i,500,700">

    <!-- ==== Plugins Bundle ==== -->
    <link rel="stylesheet" href="css/plugins.min.css">

    <!-- ==== Main Stylesheet ==== -->
    <link rel="stylesheet" href="style.css">

    <!-- ==== Responsive Stylesheet ==== -->
    <link rel="stylesheet" href="css/responsive-style.css">

    <!-- ==== Color Scheme Stylesheet ==== -->
    <link rel="stylesheet" href="css/colors/color-1.css" id="changeColorScheme">

    <!-- ==== Custom Stylesheet ==== -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- ==== HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries ==== -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preloader--inner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Header Section Start -->
        <header class="header--section style--1">
            <!-- Header Topbar Start -->
            <div class="header--topbar bg-black">
                <div class="container">
                    <!-- Header Topbar Links Start -->
                    <ul class="header--topbar-links nav ff--primary float--left">
                        <li class="dropdown">
                        </li>
                    </ul>
                    <!-- Header Topbar Links End -->

                    <!-- Header Topbar Social Start -->
                    <ul class="header--topbar-social nav float--left hidden-xs">
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <!-- Header Topbar Social End -->

                    <!-- Header Topbar Links Start -->
                    <ul class="header--topbar-links nav ff--primary float--right">
                        <li>
                            <a href="member-profile.html" class="btn-link">
                                <i class="fa mr--8 fa-user-o"></i>
                                <span>Mon Compte</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Header Topbar Links End -->
                </div>
            </div>
            <!-- Header Topbar End -->

            <!-- Header Navbar Start -->
            <div class="header--navbar navbar bg-black" data-trigger="sticky">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#headerNav">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- Header Navbar Logo Start -->
                        <div class="header--navbar-logo navbar-brand">
                            <a href="index.html">
                                <img src="img/logo-white.png" class="normal" alt="">
                                <img src="img/logo-black.png" class="sticky" alt="">
                            </a>
                        </div>
                        <!-- Header Navbar Logo End -->
                    </div>

                    <div id="headerNav" class="navbar-collapse collapse float--right">
                        <!-- Header Nav Links Start -->
                        <ul class="header--nav-links style--1 nav ff--primary">
                            <li class="dropdown">
                                <a href="index.html" >
                                    <span>Home</span>
                                </a>
                            </li>

                            <li class="dropdown">
                                <a href="activity.html">
                                    <span>Activity</span>
                                </a>
                            </li>

                            <li class="dropdown">
                                <a href="members.html">
                                    <span>Les Étudiants</span>
                                </a>
                            </li>

                            <li class="dropdown">
                                <a href="groups.html">
                                    <span>Filères</span>
                                </a>
                            </li>

                            <li class="dropdown">
                                <a href="#">
                                    <span>Interclasse</span>
                                    <i class="fa fa-caret-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li><a href="cart.html"><span>Programme des Match</span></a></li>
                                    <li><a href="blog-sidebar-right.html"><span>Résumer des Matchs</span></a></li>
                                </ul>
                            </li>

                            <li class="active"><a href="about.html"><span>À Propos</span></a></li>
                        </ul>
                        <!-- Header Nav Links End -->
                    </div>
                </div>
            </div>
            <!-- Header Navbar End -->
        </header>
        <!-- Header Section End -->

        <!-- Page Header Start -->
        <div class="page--header pt--60 pb--60 text-center" data-bg-img="img/page-header-img/bg.jpg"
            data-overlay="0.85">
            <div class="container">
                <div class="title">
                    <h2 class="h1 text-white">About Us</h2>
                </div>

                <ul class="breadcrumb text-gray ff--primary">
                    <li><a href="index.html" class="btn-link">Home</a></li>
                    <li class="active"><span class="text-primary">About</span></li>
                </ul>
            </div>
        </div>
        <!-- Page Header End -->

        <!-- About Section Start -->
        <div class="section pt--80 pb--40">
            <div class="container">
                <div class="row row--md-vc">
                    <div class="col-md-6 pb--40">
                        <img src="img/about-img/01.jpg" alt="">
                    </div>

                    <div class="col-md-6 pb--40">
                        <!-- Text Block Start -->
                        <div class="text--block">
                            <div class="content fs--14">
                                <h3>About Us</h3>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum eius, nesciunt animi
                                    qui quaerat aliquam corrupti beatae, veniam excepturi maxime quas rerum asperiores
                                    dolore aliquid atque? Aperiam neque ex fugiat?</p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum eius, nesciunt animi
                                    qui quaerat aliquam corrupti beatae, veniam excepturi maxime quas rerum asperiores
                                    dolore aliquid atque? Aperiam neque ex fugiat?</p>

                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam dicta fugiat
                                    voluptatibus aperiam officia quis asperiores animi error distinctio corporis,
                                    doloribus aliquam libero maiores modi dolores perspiciatis beatae nulla, eaque?</p>
                            </div>
                        </div>
                        <!-- Text Block End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- About Section End -->

        <!-- Features Section Start -->
        <section class="section bg-lighter pt--80 pb--40">
            <div class="container">
                <div class="row AdjustRow">
                    <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                        <!-- Feature Item Start -->
                        <div class="feature--item bg-default text-center">
                            <div class="title">
                                <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">530</span>k+</h2>
                            </div>

                            <div class="sub-title">
                                <h3 class="h2 fs--16">Stories / Topics Created</h3>
                            </div>

                            <div class="desc">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                        <!-- Feature Item End -->
                    </div>

                    <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                        <!-- Feature Item Start -->
                        <div class="feature--item bg-default text-center">
                            <div class="title">
                                <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">30</span>k+</h2>
                            </div>

                            <div class="sub-title">
                                <h3 class="h2 fs--16">Member Online Right Now</h3>
                            </div>

                            <div class="desc">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                        <!-- Feature Item End -->
                    </div>

                    <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                        <!-- Feature Item Start -->
                        <div class="feature--item bg-default text-center">
                            <div class="title">
                                <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">1.5</span>k+</h2>
                            </div>

                            <div class="sub-title">
                                <h3 class="h2 fs--16">Active Group / Meeting Room</h3>
                            </div>

                            <div class="desc">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                        <!-- Feature Item End -->
                    </div>

                    <div class="col-md-3 col-xs-6 col-xxs-12 pb--40">
                        <!-- Feature Item Start -->
                        <div class="feature--item bg-default text-center">
                            <div class="title">
                                <h2 class="h1 ff--default text-primary"><span data-trigger="counterup">03</span>k+</h2>
                            </div>

                            <div class="sub-title">
                                <h3 class="h2 fs--16">New Event In Every Week</h3>
                            </div>

                            <div class="desc">
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                        <!-- Feature Item End -->
                    </div>
                </div>
            </div>
        </section>
        <!-- Features Section End -->

        <!-- History Section Start -->
        <section class="section bg-lighter pt--80 pb--20">
            <div class="container">
                <!-- Section Title Start -->
                <div class="section--title pb--50 text-center">
                    <div class="title">
                        <h2 class="h2">Notre Histoire</h2>
                    </div>

                    <div class="sub-title">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            industry's.</p>
                    </div>
                </div>
                <!-- Section Title End -->

                <!-- Timeline Start -->
                <div class="timeline">
                    <ul class="nav MasonryRow" data-scroll-reveal="group">
                        <li>
                            <div class="timeline--item mb--60">
                                <div class="timeline--content fs--14">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi illum, voluptas
                                        culpa iure, modi unde eum consequatur, ducimus dicta debitis, ea et voluptatibus
                                        aperiam laboriosam recusandae reiciendis adipisci minus eveniet.</p>
                                </div>

                                <div class="timeline--footer fs--14 bg-primary">
                                    <p>January 2014</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline--item mb--60">
                                <div class="timeline--content fs--14">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem voluptatem neque
                                        odit eos, numquam ab ex alias iusto repellat incidunt! Sapiente minus quas
                                        doloribus optio ex, voluptatum nesciunt, aspernatur itaque.</p>
                                </div>

                                <div class="timeline--footer fs--14 bg-primary">
                                    <p>January 2013</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline--item mb--60">
                                <div class="timeline--content fs--14">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem quae eos
                                        voluptate, optio recusandae maxime voluptatibus, consectetur, laboriosam facere
                                        blanditiis delectus ullam temporibus aperiam laudantium culpa dolorum veritatis
                                        facilis qui?</p>
                                </div>

                                <div class="timeline--footer fs--14 bg-primary">
                                    <p>January 2012</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline--item mb--60">
                                <div class="timeline--content fs--14">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora odit placeat
                                        vel nihil voluptatum id aperiam ullam dolore nobis! Provident obcaecati totam
                                        minus nobis, suscipit error excepturi aliquam possimus accusantium.</p>
                                </div>

                                <div class="timeline--footer fs--14 bg-primary">
                                    <p>January 2011</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- Timeline End -->
            </div>
        </section>
        <!-- History Section End -->

        <!-- Footer Section Start -->
        <footer class="footer--section">
            <!-- Footer Widgets Start -->

            <!-- Footer Widgets End -->

            <!-- Footer Extra Start -->
            <div class="footer--extra bg-darker pt--30 pb--40 text-center">
                <div class="container">
                    <!-- Widget Start -->
                    <div class="widget">
                        <h2 class="h4 fw--700 widget--title">Membres Connecté</h2>

                        <!-- Recent Active Members Widget Start -->
                        <div class="recent-active-members--widget style--2">
                            <div class="owl-carousel" data-owl-items="12" data-owl-nav="true" data-owl-speed="1200"
                                data-owl-responsive='{"0": {"items": "3"}, "481": {"items": "6"}, "768": {"items": "8"}, "992": {"items": "12"}}'>
                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/01.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/02.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/03.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/04.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/05.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/06.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/07.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/08.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/09.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/10.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/11.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/12.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/13.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- Recent Active Members Widget End -->
                    </div>
                    <!-- Widget End -->
                </div>
            </div>
            <!-- Footer Extra End -->

            <!-- Footer Copyright Start -->
            <div class="footer--copyright pt--30 pb--30 bg-darkest">
                <div class="container">
                    <div class="text fw--500 fs--14 text-center">
                        <p>Copyright &copy; Soci<span>fly</span>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
            <!-- Footer Copyright End -->
        </footer>
        <!-- Footer Section End -->
    </div>
    <!-- Wrapper End -->

    <!-- Back To Top Button Start -->
    <div id="backToTop">
        <a href="#" class="btn"><i class="fa fa-caret-up"></i></a>
    </div>
    <!-- Back To Top Button End -->

    <!-- ==== Plugins Bundle ==== -->
    <script src="js/plugins.min.js"></script>

    <!-- ==== Main Script ==== -->
    <script src="js/main.js"></script>

</body>

</html>