<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ==== Document Title ==== -->
    <title>SociFly - Multipurpose Social Network HTML5 Template</title>

    <!-- ==== Document Meta ==== -->
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- ==== Favicon ==== -->
    <link rel="icon" href="favicon.png" type="image/png">

    <!-- ==== Google Font ==== -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700%7CRoboto:300,400,400i,500,700">

    <!-- ==== Plugins Bundle ==== -->
    <link rel="stylesheet" href="css/plugins.min.css">

    <!-- ==== Main Stylesheet ==== -->
    <link rel="stylesheet" href="style.css">

    <!-- ==== Responsive Stylesheet ==== -->
    <link rel="stylesheet" href="css/responsive-style.css">

    <!-- ==== Color Scheme Stylesheet ==== -->
    <link rel="stylesheet" href="css/colors/color-1.css" id="changeColorScheme">

    <!-- ==== Custom Stylesheet ==== -->
    <link rel="stylesheet" href="css/custom.css">

    <!-- ==== HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries ==== -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preloader--inner"></div>
    </div>
    <!-- Preloader End -->

    <!-- Wrapper Start -->
    <div class="wrapper">
        <!-- Header Section Start -->
        <header class="header--section style--1">
            <!-- Header Topbar Start -->
            <div class="header--topbar bg-black">
                <div class="container">
                    <!-- Header Topbar Links Start -->
                    <ul class="header--topbar-links nav ff--primary float--left">
                        <li class="dropdown">
                        </li>
                    </ul>
                    <!-- Header Topbar Links End -->

                    <!-- Header Topbar Social Start -->
                    <ul class="header--topbar-social nav float--left hidden-xs">
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                    <!-- Header Topbar Social End -->

                    <!-- Header Topbar Links Start -->
                    <ul class="header--topbar-links nav ff--primary float--right">
                        <li>
                            <a href="member-profile.html" class="btn-link">
                                <i class="fa mr--8 fa-user-o"></i>
                                <span>Mon Compte</span>
                            </a>
                        </li>
                    </ul>
                    <!-- Header Topbar Links End -->
                </div>
            </div>
            <!-- Header Topbar End -->

            <!-- Header Navbar Start -->
            <div class="header--navbar navbar bg-black" data-trigger="sticky">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#headerNav">
                            <span class="sr-only">Toggle Navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                        <!-- Header Navbar Logo Start -->
                        <div class="header--navbar-logo navbar-brand">
                            <a href="index.html">
                                <img src="img/logo-white.png" class="normal" alt="">
                                <img src="img/logo-black.png" class="sticky" alt="">
                            </a>
                        </div>
                        <!-- Header Navbar Logo End -->
                    </div>

                    <div id="headerNav" class="navbar-collapse collapse float--right">
                        <!-- Header Nav Links Start -->
                        <ul class="header--nav-links style--1 nav ff--primary">
                            <li class="dropdown">
                                <a href="index.html" >
                                    <span>Home</span>
                                </a>
                            </li>

                            <li class="dropdown">
                                <a href="activity.html">
                                    <span>Activity</span>
                                </a>
                            </li>

                            <li class="dropdown">
                                <a href="members.html">
                                    <span>Les Étudiants</span>
                                </a>
                            </li>

                            <li class="dropdown">
                                <a href="groups.html">
                                    <span>Filères</span>
                                </a>
                            </li>

                            <li class="dropdown  active">
                                <a href="#">
                                    <span>Interclasse</span>
                                    <i class="fa fa-caret-down"></i>
                                </a>

                                <ul class="dropdown-menu">
                                    <li><a href="cart.html"><span>Programme des Match</span></a></li>
                                    <li><a href="blog-sidebar-right.html"><span>Résumer des Matchs</span></a></li>
                                </ul>
                            </li>

                            <li><a href="about.html"><span>À Propos</span></a></li>
                        </ul>
                        <!-- Header Nav Links End -->
                    </div>
                </div>
            </div>
            <!-- Header Navbar End -->
        </header>
        <!-- Header Section End -->

        <!-- Page Header Start -->
        <div class="page--header pt--60 pb--60 text-center" data-bg-img="img/page-header-img/bg.jpg"
            data-overlay="0.85">
            <div class="container">
                <div class="title">
                    <h2 class="h1 text-white">Blog</h2>
                </div>

                <ul class="breadcrumb text-gray ff--primary">
                    <li><a href="index.html" class="btn-link">Home</a></li>
                    <li class="active"><span class="text-primary">Blog</span></li>
                </ul>
            </div>
        </div>
        <!-- Page Header End -->

        <!-- Page Wrapper Start -->
        <section class="page--wrapper pt--80 pb--20">
            <div class="container">
                <div class="row">
                    <!-- Main Content Start -->
                    <div class="main--content col-md-12 pb--30" data-trigger="stickyScroll">
                        <div class="main--content-inner">
                            <div class="row MasonryRow">
                                <div class="col-sm-6 col-xs-12 pb--30">
                                    <!-- Post Item Start -->
                                    <div class="post--item" data-scroll-reveal="bottom">
                                        <!-- Post Image Start -->
                                        <div class="post--img">
                                            <a href="blog-details.html"><img src="img/posts-img/post-item-01.jpg"
                                                    alt=""></a>
                                        </div>
                                        <!-- Post Image End -->

                                        <!-- Post Info Start -->
                                        <div class="post--info">
                                            <!-- Post Meta Start -->
                                            <div class="post--meta">
                                                <ul class="nav">
                                                    <li>
                                                        <a href="#">
                                                            <img src="img/posts-img/avatar-small-01.jpg" alt="">
                                                            <span>Robbie T. Poorman</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="mr--8 fa fa-calendar-o"></i>
                                                            <span>25 Nov 2017</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="mr--8 fa fa-comments-o"></i>
                                                            <span>0 Comment</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Post Meta End -->

                                            <!-- Post Title Start -->
                                            <div class="post--title mt--10">
                                                <h3 class="h6">
                                                    <a href="blog-details.html" class="btn-link">This Is the Place I Was
                                                        Telling You About</a>
                                                </h3>
                                            </div>
                                            <!-- Post Title End -->

                                            <!-- Post Meta Start -->
                                            <div class="post--meta">
                                                <ul class="nav">
                                                    <li>
                                                        <i class="mr--8 fa fa-folder-open-o"></i>

                                                        <a href="#"><span>Travel</span></a>
                                                    </li>
                                                    <li>
                                                        <i class="mr--8 fa fa-tags"></i>

                                                        <a href="#"><span>Lifestyle</span></a>
                                                        <a href="#"><span>Study</span></a>
                                                        <a href="#"><span>Walkout</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Post Meta End -->

                                            <!-- Post Content Start -->
                                            <div class="post--content text-darker mt--10">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley.</p>
                                            </div>
                                            <!-- Post Content End -->

                                            <!-- Post Action Start -->
                                            <div class="post--action text-darkest mt--8">
                                                <a href="blog-details.html" class="btn-link">Continue Reading<i
                                                        class="ml--10 text-primary fa fa-caret-right"></i></a>
                                            </div>
                                            <!-- Post Action End -->
                                        </div>
                                        <!-- Post Info End -->
                                    </div>
                                    <!-- Post Item End -->
                                </div>

                                <div class="col-sm-6 col-xs-12 pb--30">
                                    <!-- Post Item Start -->
                                    <div class="post--item" data-scroll-reveal="bottom">
                                        <!-- Post Image Start -->
                                        <div class="post--img">
                                            <a href="blog-details.html"><img src="img/posts-img/post-item-02.jpg"
                                                    alt=""></a>
                                        </div>
                                        <!-- Post Image End -->

                                        <!-- Post Info Start -->
                                        <div class="post--info">
                                            <!-- Post Meta Start -->
                                            <div class="post--meta">
                                                <ul class="nav">
                                                    <li>
                                                        <a href="#">
                                                            <img src="img/posts-img/avatar-small-02.jpg" alt="">
                                                            <span>Carla W. Carter</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="mr--8 fa fa-calendar-o"></i>
                                                            <span>05 Nov 2017</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="mr--8 fa fa-comments-o"></i>
                                                            <span>3 Comments</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Post Meta End -->

                                            <!-- Post Title Start -->
                                            <div class="post--title mt--10">
                                                <h3 class="h6">
                                                    <a href="blog-details.html" class="btn-link">Your guide to perfect
                                                        rebranding</a>
                                                </h3>
                                            </div>
                                            <!-- Post Title End -->

                                            <!-- Post Meta Start -->
                                            <div class="post--meta">
                                                <ul class="nav">
                                                    <li>
                                                        <i class="mr--8 fa fa-folder-open-o"></i>

                                                        <a href="#"><span>Creative</span></a>
                                                    </li>
                                                    <li>
                                                        <i class="mr--8 fa fa-tags"></i>

                                                        <a href="#"><span>Design</span></a>
                                                        <a href="#"><span>Art</span></a>
                                                        <a href="#"><span>Drawing</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Post Meta End -->

                                            <!-- Post Content Start -->
                                            <div class="post--content text-darker mt--10">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley.</p>
                                            </div>
                                            <!-- Post Content End -->

                                            <!-- Post Action Start -->
                                            <div class="post--action text-darkest mt--8">
                                                <a href="blog-details.html" class="btn-link">Continue Reading<i
                                                        class="ml--10 text-primary fa fa-caret-right"></i></a>
                                            </div>
                                            <!-- Post Action End -->
                                        </div>
                                        <!-- Post Info End -->
                                    </div>
                                    <!-- Post Item End -->
                                </div>

                                <div class="col-sm-6 col-xs-12 pb--30">
                                    <!-- Post Item Start -->
                                    <div class="post--item" data-scroll-reveal="bottom">
                                        <!-- Post Video Start -->
                                        <div class="post--video">
                                            <a href="blog-details.html"><img src="img/posts-img/post-item-03.jpg"
                                                    alt=""></a>
                                        </div>
                                        <!-- Post Video End -->

                                        <!-- Post Info Start -->
                                        <div class="post--info">
                                            <!-- Post Meta Start -->
                                            <div class="post--meta">
                                                <ul class="nav">
                                                    <li>
                                                        <a href="#">
                                                            <img src="img/posts-img/avatar-small-03.jpg" alt="">
                                                            <span>Carla W. Carter</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="mr--8 fa fa-calendar-o"></i>
                                                            <span>30 Sep 2017</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="mr--8 fa fa-comments-o"></i>
                                                            <span>0 Comment</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Post Meta End -->

                                            <!-- Post Title Start -->
                                            <div class="post--title mt--10">
                                                <h3 class="h6">
                                                    <a href="blog-details.html" class="btn-link">Treat Your Pet's Skin
                                                        the Way You Treat Your Own with Pet Caress + a Fun Twitter
                                                        Party</a>
                                                </h3>
                                            </div>
                                            <!-- Post Title End -->

                                            <!-- Post Meta Start -->
                                            <div class="post--meta">
                                                <ul class="nav">
                                                    <li>
                                                        <i class="mr--8 fa fa-folder-open-o"></i>

                                                        <a href="#"><span>Pets</span></a>
                                                    </li>
                                                    <li>
                                                        <i class="mr--8 fa fa-tags"></i>

                                                        <a href="#"><span>Cat</span></a>
                                                        <a href="#"><span>Dog</span></a>
                                                        <a href="#"><span>Pet Care</span></a>
                                                        <a href="#"><span>Animal</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Post Meta End -->

                                            <!-- Post Content Start -->
                                            <div class="post--content text-darker mt--10">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's standard dummy text
                                                    ever since the 1500s, when an unknown printer took a galley.</p>
                                            </div>
                                            <!-- Post Content End -->

                                            <!-- Post Action Start -->
                                            <div class="post--action text-darkest mt--8">
                                                <a href="blog-details.html" class="btn-link">Continue Reading<i
                                                        class="ml--10 text-primary fa fa-caret-right"></i></a>
                                            </div>
                                            <!-- Post Action End -->
                                        </div>
                                        <!-- Post Info End -->
                                    </div>
                                    <!-- Post Item End -->
                                </div>

                                <div class="col-sm-6 col-xs-12 pb--30">
                                    <!-- Post Item Start -->
                                    <div class="post--item" data-scroll-reveal="bottom">
                                        <!-- Post Info Start -->
                                        <div class="post--info">
                                            <!-- Post Meta Start -->
                                            <div class="post--meta">
                                                <ul class="nav">
                                                    <li>
                                                        <a href="#">
                                                            <img src="img/posts-img/avatar-small-03.jpg" alt="">
                                                            <span>Rebeca R. Gosnell</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="mr--8 fa fa-calendar-o"></i>
                                                            <span>12 Aug 2017</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="mr--8 fa fa-comments-o"></i>
                                                            <span>0 Comment</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Post Meta End -->

                                            <!-- Post Title Start -->
                                            <div class="post--title mt--10">
                                                <h3 class="h6">
                                                    <a href="blog-details.html" class="btn-link">Classroomscreen.com: A
                                                        Web Tool Teachers and Students will LOVE lorem ipsum has been
                                                        the industries unknow printer took galley</a>
                                                </h3>
                                            </div>
                                            <!-- Post Title End -->

                                            <!-- Post Meta Start -->
                                            <div class="post--meta">
                                                <ul class="nav">
                                                    <li>
                                                        <i class="mr--8 fa fa-folder-open-o"></i>

                                                        <a href="#"><span>Technology</span></a>
                                                    </li>
                                                    <li>
                                                        <i class="mr--8 fa fa-tags"></i>

                                                        <a href="#"><span>IT</span></a>
                                                        <a href="#"><span>Innovation</span></a>
                                                        <a href="#"><span>World</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Post Meta End -->

                                            <!-- Post Action Start -->
                                            <div class="post--action text-darkest mt--8">
                                                <a href="blog-details.html" class="btn-link">Continue Reading<i
                                                        class="ml--10 text-primary fa fa-caret-right"></i></a>
                                            </div>
                                            <!-- Post Action End -->
                                        </div>
                                        <!-- Post Info End -->
                                    </div>
                                    <!-- Post Item End -->
                                </div>

                                <div class="col-sm-6 col-xs-12 pb--30">
                                    <!-- Post Item Start -->
                                    <div class="post--item" data-scroll-reveal="bottom">
                                        <!-- Post Image Start -->
                                        <div class="post--img">
                                            <a href="blog-details.html"><img src="img/posts-img/post-item-04.jpg"
                                                    alt=""></a>
                                        </div>
                                        <!-- Post Image End -->

                                        <!-- Post Info Start -->
                                        <div class="post--info">
                                            <!-- Post Meta Start -->
                                            <div class="post--meta">
                                                <ul class="nav">
                                                    <li>
                                                        <a href="#">
                                                            <img src="img/posts-img/avatar-small-04.jpg" alt="">
                                                            <span>Earl N. Kelly</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="mr--8 fa fa-calendar-o"></i>
                                                            <span>25 Feb 2017</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="mr--8 fa fa-comments-o"></i>
                                                            <span>0 Comment</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Post Meta End -->

                                            <!-- Post Title Start -->
                                            <div class="post--title mt--10">
                                                <h3 class="h6">
                                                    <a href="blog-details.html" class="btn-link">Tasty Stuffed Potato
                                                        Dumplings Vegan</a>
                                                </h3>
                                            </div>
                                            <!-- Post Title End -->

                                            <!-- Post Meta Start -->
                                            <div class="post--meta">
                                                <ul class="nav">
                                                    <li>
                                                        <i class="mr--8 fa fa-folder-open-o"></i>

                                                        <a href="#"><span>Food</span></a>
                                                    </li>
                                                    <li>
                                                        <i class="mr--8 fa fa-tags"></i>

                                                        <a href="#"><span>Recipes</span></a>
                                                        <a href="#"><span>Potato</span></a>
                                                        <a href="#"><span>Burger</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Post Meta End -->

                                            <!-- Post Content Start -->
                                            <div class="post--content text-darker mt--10">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's unknown printer took a
                                                    galley.</p>
                                            </div>
                                            <!-- Post Content End -->

                                            <!-- Post Action Start -->
                                            <div class="post--action text-darkest mt--8">
                                                <a href="blog-details.html" class="btn-link">Continue Reading<i
                                                        class="ml--10 text-primary fa fa-caret-right"></i></a>
                                            </div>
                                            <!-- Post Action End -->
                                        </div>
                                        <!-- Post Info End -->
                                    </div>
                                    <!-- Post Item End -->
                                </div>

                                <div class="col-sm-6 col-xs-12 pb--30">
                                    <!-- Post Item Start -->
                                    <div class="post--item" data-scroll-reveal="bottom">
                                        <!-- Post Image Start -->
                                        <div class="post--img">
                                            <a href="blog-details.html"><img src="img/posts-img/post-item-05.jpg"
                                                    alt=""></a>
                                        </div>
                                        <!-- Post Image End -->

                                        <!-- Post Info Start -->
                                        <div class="post--info">
                                            <!-- Post Meta Start -->
                                            <div class="post--meta">
                                                <ul class="nav">
                                                    <li>
                                                        <a href="#">
                                                            <img src="img/posts-img/avatar-small-05.jpg" alt="">
                                                            <span>Anne S. McCoy</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="mr--8 fa fa-calendar-o"></i>
                                                            <span>13 Jul 2017</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="mr--8 fa fa-comments-o"></i>
                                                            <span>0 Comment</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Post Meta End -->

                                            <!-- Post Title Start -->
                                            <div class="post--title mt--10">
                                                <h3 class="h6">
                                                    <a href="blog-details.html" class="btn-link">You Don't Need a Studio
                                                        for Pro Portraits -- Make the Most of What You DO Have</a>
                                                </h3>
                                            </div>
                                            <!-- Post Title End -->

                                            <!-- Post Meta Start -->
                                            <div class="post--meta">
                                                <ul class="nav">
                                                    <li>
                                                        <i class="mr--8 fa fa-folder-open-o"></i>

                                                        <a href="#"><span>Photography</span></a>
                                                        <a href="#"><span>Discover</span></a>
                                                    </li>
                                                    <li>
                                                        <i class="mr--8 fa fa-tags"></i>

                                                        <a href="#"><span>Photo</span></a>
                                                        <a href="#"><span>Discovery</span></a>
                                                        <a href="#"><span>Mountain</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Post Meta End -->

                                            <!-- Post Content Start -->
                                            <div class="post--content text-darker mt--10">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's unknown printer took a
                                                    galley.</p>
                                            </div>
                                            <!-- Post Content End -->

                                            <!-- Post Action Start -->
                                            <div class="post--action text-darkest mt--8">
                                                <a href="blog-details.html" class="btn-link">Continue Reading<i
                                                        class="ml--10 text-primary fa fa-caret-right"></i></a>
                                            </div>
                                            <!-- Post Action End -->
                                        </div>
                                        <!-- Post Info End -->
                                    </div>
                                    <!-- Post Item End -->
                                </div>

                                <div class="col-sm-6 col-xs-12 pb--30">
                                    <!-- Post Item Start -->
                                    <div class="post--item" data-scroll-reveal="bottom">
                                        <!-- Post Audio Start -->
                                        <div class="post--audio embed-responsive embed-responsive-16by9">
                                            <iframe
                                                src="https://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/34019569&auto_play=false&hide_related=true&show_comments=false&show_user=false&show_reposts=false&visual=true&download=false&sharing=false"></iframe>
                                        </div>
                                        <!-- Post Audio End -->

                                        <!-- Post Info Start -->
                                        <div class="post--info">
                                            <!-- Post Meta Start -->
                                            <div class="post--meta">
                                                <ul class="nav">
                                                    <li>
                                                        <a href="#">
                                                            <img src="img/posts-img/avatar-small-06.jpg" alt="">
                                                            <span>Randall E. Dempsey</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="mr--8 fa fa-calendar-o"></i>
                                                            <span>17 Mar 2017</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <i class="mr--8 fa fa-comments-o"></i>
                                                            <span>0 Comment</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Post Meta End -->

                                            <!-- Post Title Start -->
                                            <div class="post--title mt--10">
                                                <h3 class="h6">
                                                    <a href="blog-details.html" class="btn-link">Bodak Yellow Cardi B /
                                                        @IAMCARDIB</a>
                                                </h3>
                                            </div>
                                            <!-- Post Title End -->

                                            <!-- Post Meta Start -->
                                            <div class="post--meta">
                                                <ul class="nav">
                                                    <li>
                                                        <i class="mr--8 fa fa-folder-open-o"></i>

                                                        <a href="#"><span>Music</span></a>
                                                    </li>
                                                    <li>
                                                        <i class="mr--8 fa fa-tags"></i>

                                                        <a href="#"><span>Audio</span></a>
                                                        <a href="#"><span>Sound</span></a>
                                                        <a href="#"><span>Audio</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- Post Meta End -->

                                            <!-- Post Content Start -->
                                            <div class="post--content text-darker mt--10">
                                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry. Lorem Ipsum has been the industry's unknown printer took a
                                                    galley.</p>
                                            </div>
                                            <!-- Post Content End -->

                                            <!-- Post Action Start -->
                                            <div class="post--action text-darkest mt--8">
                                                <a href="blog-details.html" class="btn-link">Continue Reading<i
                                                        class="ml--10 text-primary fa fa-caret-right"></i></a>
                                            </div>
                                            <!-- Post Action End -->
                                        </div>
                                        <!-- Post Info End -->
                                    </div>
                                    <!-- Post Item End -->
                                </div>

                                <div class="col-xs-12 pb--30">
                                    <!-- Page Count Start -->
                                    <div class="page--count">
                                        <label class="ff--primary fs--14 fw--500 text-darker">
                                            <span>Viewing</span>

                                            <a href="#" class="btn-link"><i class="fa fa-caret-left"></i></a>
                                            <input type="number" name="page-count" value="01"
                                                class="form-control form-sm">
                                            <a href="#" class="btn-link"><i class="fa fa-caret-right"></i></a>

                                            <span>of 68</span>
                                        </label>
                                    </div>
                                    <!-- Page Count End -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Main Content End -->
                </div>
            </div>
        </section>
        <!-- Page Wrapper End -->

        <!-- Footer Section Start -->
        <footer class="footer--section">

            <!-- Footer Extra Start -->
            <div class="footer--extra bg-darker pt--30 pb--40 text-center">
                <div class="container">
                    <!-- Widget Start -->
                    <div class="widget">
                        <h2 class="h4 fw--700 widget--title">Recent Active Members</h2>

                        <!-- Recent Active Members Widget Start -->
                        <div class="recent-active-members--widget style--2">
                            <div class="owl-carousel" data-owl-items="12" data-owl-nav="true" data-owl-speed="1200"
                                data-owl-responsive='{"0": {"items": "3"}, "481": {"items": "6"}, "768": {"items": "8"}, "992": {"items": "12"}}'>
                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/01.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/02.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/03.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/04.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/05.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/06.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/07.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/08.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/09.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/10.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/11.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/12.jpg" alt=""></a>
                                </div>

                                <div class="img">
                                    <a href="member-activity-personal.html"><img
                                            src="img/widgets-img/recent-active-members/13.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <!-- Recent Active Members Widget End -->
                    </div>
                    <!-- Widget End -->
                </div>
            </div>
            <!-- Footer Extra End -->

            <!-- Footer Copyright Start -->
            <div class="footer--copyright pt--30 pb--30 bg-darkest">
                <div class="container">
                    <div class="text fw--500 fs--14 text-center">
                        <p>Copyright &copy; Soci<span>fly</span>. All Rights Reserved.</p>
                    </div>
                </div>
            </div>
            <!-- Footer Copyright End -->
        </footer>
        <!-- Footer Section End -->
    </div>
    <!-- Wrapper End -->

    <!-- Back To Top Button Start -->
    <div id="backToTop">
        <a href="#" class="btn"><i class="fa fa-caret-up"></i></a>
    </div>
    <!-- Back To Top Button End -->

    <!-- ==== Plugins Bundle ==== -->
    <script src="js/plugins.min.js"></script>

    <!-- ==== Main Script ==== -->
    <script src="js/main.js"></script>

</body>

</html>